body{
    font-family: 'Kantumruy Pro', sans-serif;
    margin: 0px
}
h1{
    font-size: 40px;
}

p{
    font-size: 18px;
}

.flexible-container{
    display: flex;
}
.donate-now{
    background-color: #BB6464;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 18px;
    text-decoration: none;
}
.input-box{
    font-size: 18px;
    margin-top: 6%;
    border: none;
    border-bottom: 1px solid black;
    text-align: center;
    padding: 20px;
    width: 60%;
    margin-bottom: 1%;
}

.first-part{
    background-image: url(images/donation13.jpg);
    background-size: cover;
    font-family:Arial, Helvetica, sans-serif;
    opacity: 89%;
    height: 300px;
    color: white;
    padding: 10%;
    text-align: center;
    background-repeat: no-repeat;
}
.donate-now{
    background-color: #BB6464;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 18px;
    text-decoration: none;
}
.second-part{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 15px;
    padding-left:5%;
    padding-right:5%;
} 
.second-part p1{
    padding: 30px 40px;
    background-color: rgb(243, 243, 243);
    border-radius: 10px;
}
.second-part p2{
    padding: 30px 40px;
    background-color:#f3a0a0; 
    border: 2px solid rgb(81, 29, 29); 
    border-radius: 10px;  
}
.second-part p3{
    padding: 40px 40px;
    background-color: rgb(243, 243, 243);
    border-radius: 5px;
}
.second-part p4{
    padding: 40px 40px;
    background-color: rgb(243, 243, 243);
    border-radius: 10px;
}
.second-part p5{ 
    padding: 40px 40px;
    background-color: rgb(243, 243, 243);
    border-radius: 10px;
} 
.third-part{
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    padding-bottom: 2%;
}
.plan-box{
    background-repeat: no-repeat;
    width: 30%;
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 5px;
    margin-left: 2%;
    margin-right: 2%;
    box-shadow: 1px 1px 1px 2px rgb(184, 184, 184);
}
#food-box{ 
    background-color: #C9BBCF;   
}
#shelter-box{
    background-color: #B7D3DF;
}
#education-box{
    background-color: #D6EFED ;
}




